<h1>Dashboard</h1>

<!-- INTERFACE DOWN WARNINGS -->
<% if !ints_down.empty? %>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <ul class='list-group'>
        <% ints_down.each do |device,data| %>
          <% data[:interfaces].each do |if_index,oids| %>
            <li class='center list-group-item list-group-item-danger'>
            <%= device_link(oids) + ' PORT ' + interface_link(settings, oids) %> 
            TO <%= neighbor_link(oids) %> is <b>DOWN!</b>
            <span class='badge' style='float: left;'>&nbsp;
              <span class='glyphicon glyphicon-warning-sign'></span>
              Link Down&nbsp;&nbsp;
            </span>
            <span class='badge'>
              <%= humanize_time(Time.now.to_i - oids[:if_oper_status_time]) %>
            </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class='col-md-2'></div>
  </div>
<% end %>

<div class='row'>
  <div class='col-md-6'>

    <!-- HIGH CPU USAGE -->
    <% if !cpus_high.empty? %>
      <div class="panel panel-ltblue">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-clock-o fa-2x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <span class="huge"><%= i=0; cpus_high.each { |dev,data| i += data[:cpus].count }; i %></span>
            <span>&nbsp;Device<%= 's' if cpus_high.count != 1 %> with high CPU utilization</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <table id='highCpuTable' class='table table-hover table-condensed tablesorter'>
          <thead>
            <tr>
              <th>Device</th>
              <th>Component</th>
              <th>CPU Utilization</th>
            </tr>
          </thead>
          <tbody>
          <% cpus_high.each do |device,data| %>
            <% data[:cpus].each do |index,data| %>
            <tr>
            <td><%= device_link(data) %></td>
            <td><%= data[:description] %></td>
            <td>
              <span class='text-danger'><b><%= data[:util] %>%</b></span>
            </td>
          </tr>
        <% end %>
        <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>

  <br />

    <!-- DISCARDING INTERFACES -->
    <% if !ints_discarding.empty? %>
      <div class="panel panel-ltblue">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-trash-o fa-2x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <span class="huge"><%= i=0; ints_discarding.each { |dev,data| i += data[:interfaces].count }; i %></span>
            <span>&nbsp;Interface<%= 's' if ints_discarding.count != 1 %> discarding over thresholds</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
      <table id='discardTable' class='table table-hover table-condensed tablesorter'>
      <thead>
        <tr>
          <th class='pxl-hidden'>Total</th>
          <th>Discards/sec </th>
          <th>Device</th>
          <th>Interface </th>
          <th>Ingress </th>
          <th>Egress </th>
        </tr>
      </thead>
      <tbody>
      <% ints_discarding.each do |device,data| %>
        <% data[:interfaces].each do |if_index,oids| %>
          <tr <%= tr_attributes(oids) %>>
            <td class='pxl-hidden'><%= oids[:discards_out] %></td>
            <td>
              <span class='text-danger'><b><%= oids[:discards_out] %></b></span>
              <%= "(#{oids[:discards_out_pct]}%)" %>
            </td>
            <td><%= device_link(oids) %></td>
            <td><%= interface_link(settings, oids) %></td>
            <td class='pxl-histogram pxl-meta <%= 'pxl-hoverswap' unless /^10+/.match(oids[:if_high_speed].to_s) %>' data-pxl-meta='<%= oids[:bps_in_util]%>'>
              <span class='pxl-swap-pri'>
                <%= bps_cell('in', oids, { compact: true, bps_only: true }) %>
              </span>
              <span class='pxl-swap-alt'>
                <%= bps_cell('in', oids, { pct_only: true }) %>
              </span>
            </td>
            <td class='pxl-histogram pxl-meta <%= 'pxl-hoverswap' unless /^10+/.match(oids[:if_high_speed].to_s) %>' data-pxl-meta='<%= oids[:bps_out_util]%>'>
              <span class='pxl-swap-pri'>
                <%= bps_cell('out', oids, { compact: true, bps_only: true }) %>
              </span>
              <span class='pxl-swap-alt'>
                <%= bps_cell('out', oids, { pct_only: true }) %>
              </span>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
      </table>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
</div>

  <div class='col-md-6'>

    <!-- HIGH MEMORY USAGE -->
    <% if !memory_high.empty? %>
      <div class="panel panel-ltblue">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-2x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <span class="huge"><%= i=0; memory_high.each { |dev,data| i += data[:memory].count }; i %></span>
            <span>&nbsp;Device<%= 's' if memory_high.count != 1 %> with high memory utilization</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <table id='highMemTable' class='table table-hover table-condensed tablesorter'>
          <thead>
            <tr>
              <th>Device</th>
              <th>Component</th>
              <th>Memory Utilization</th>
            </tr>
          </thead>
          <tbody>
          <% memory_high.each do |device,data| %>
            <% data[:memory].each do |index,data| %>
            <tr>
            <td><%= device_link(data) %></td>
            <td><%= data[:description] %></td>
            <td>
              <span class='text-danger'><b><%= data[:util] %>%</b></span>
            </td>
          </tr>
        <% end %>
        <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>

  <br />

  <!-- SATURATED PORTS -->
    <% if !ints_saturated.empty? %>
      <div class="panel panel-ltblue">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-exchange fa-2x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <span class="huge"><%= i=0; ints_saturated.each { |dev,data| i += data[:interfaces].count }; i %></span>
            <span>&nbsp;Saturated interface<%= 's' if ints_saturated.count != 1 %></span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
      <table id='saturatedTable' class='table table-hover table-condensed tablesorter'>
      <thead>
        <tr>
          <th class='pxl-hidden'>Total</th>
          <th class='pxl-th'>Device</th>
          <th class='pxl-th'>Interface </th>
          <th class='pxl-th'>Type </th>
          <th class='pxl-th hidden-md hidden-sm hidden-xs'>Neighbor </th>
          <th class='pxl-th'>Ingress </th>
          <th class='pxl-th'>Egress </th>
        </tr>
      </thead>
      <tbody>
      <% ints_saturated.each do |device,data| %>
        <% data[:interfaces].each do |if_index,oids| %>
          <tr <%= tr_attributes(oids) %>>
            <td class='pxl-hidden'><%= oids[:discards_out] %></td>
            <td><%= device_link(oids) %></td>
            <td><%= interface_link(settings, oids) %></td>
            <td><%= oids[:link_type] %>
              <% if oids[:is_child] %>
                <span> <%= "[#{oids[:my_parent_name]}]" %></span>
              <% end %>
            </td>
            <td class='hidden-md hidden-sm hidden-xs'><%= neighbor_link(oids, { device_only: true }) %></td>
            <td class='pxl-histogram pxl-meta <%= 'pxl-hoverswap' unless /^10+/.match(oids[:if_high_speed].to_s) %>' data-pxl-meta='<%= oids[:bps_in_util]%>'>
              <span class='pxl-swap-pri'>
                <%= bps_cell('in', oids, { compact: true, bps_only: true }) %>
              </span>
              <span class='pxl-swap-alt'>
                <%= bps_cell('in', oids, { pct_only: true }) %>
              </span>
            </td>
            <td class='pxl-histogram pxl-meta <%= 'pxl-hoverswap' unless /^10+/.match(oids[:if_high_speed].to_s) %>' data-pxl-meta='<%= oids[:bps_out_util]%>'>
              <span class='pxl-swap-pri'>
                <%= bps_cell('out', oids, { compact: true, bps_only: true }) %>
              </span>
              <span class='pxl-swap-alt'>
                <%= bps_cell('out', oids, { pct_only: true }) %>
              </span>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
      </table>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
  </div>

</div>
