<% locals[:title] = device %>
<% interfaces = data ? data[:interfaces] : nil %>

<h1><%= device %></h1>
<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-grey">
      <div class="panel-heading">
        <div class="row">
          <div>
            <center>
              <span>CPU Utilization</span>
            </center>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class='pxl-rickshaw-y'></div>
        <div class='pxl-rickshaw' data-pxl-device='<%= device %>' data-pxl-attr='cpu' data-pxl-time='60m'></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-grey">
      <div class="panel-heading">
        <div class="row">
          <div>
            <center>
              <span>Memory Utilization</span>
            </center>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class='pxl-rickshaw-y'></div>
        <div class='pxl-rickshaw' data-pxl-device='<%= device %>' data-pxl-attr='memory' data-pxl-time='60m'></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <% if interfaces %>
    <table id='ifTable' class='table table-hover table-condensed tablesorter'>
    <thead>
      <tr>
        <th class='pxl-hidden'>Total</th>
        <th colspan='2' class='pxl-th'>Name <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Type  <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Neighbor <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Ingress <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Egress <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Speed <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
      </tr>
    </thead>
    <tbody>
    <% interfaces.each do |index,oids| %>
      <tr <%= tr_attributes(oids, { hide_if_child: true, hl_relation: true }) %>>
        <td class='pxl-hidden'><%= total_bps_cell(interfaces, oids) %></td>
        <td class='pxl-td-shrink'><%= interface_link(settings, oids) %></td>
        <td><table class='pxl-linkUp pxl-linkUp-<%= link_status_color(interfaces, oids) %>'><tr>
              <td data-toggle='tooltip' data-container='body' title='<%= link_status_tooltip(interfaces, oids) %>' data-rel='tooltip-right'></td>
          </tr></table></td>
        <td class='<%= 'pxl-child-td' if oids[:is_child] %>'>
          <%= oids[:link_type] %>
          <% if oids[:is_parent] %>
            <button type='button' class='swapPlusMinus btn btn-default btn-xs' data-toggle='collapse' data-target='.<%= index %>_child'>
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          <% elsif oids[:is_child] %>
            <span class='pxl-hidden'><%= "[#{oids[:my_parent_name]}]" %></span>
          <% end %>
        </td>
        <td><%= neighbor_link(oids) %></td>
        <td class='pxl-histogram pxl-meta' data-pxl-meta='<%= oids[:bps_in_util] %>'><%= bps_cell('in', oids) %></td>
        <td class='pxl-histogram pxl-meta' data-pxl-meta='<%= oids[:bps_out_util] %>'><%= bps_cell('out', oids) %></td>
        <td><%= speed_cell(oids) %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else # This means we don't have any interfaces, or the device doesn't exist %>
    <% error = data ? 'Device found, but no interfaces are being recorded.' : 'Device not found.' %>
    <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <ul class='list-group'>
        <li class='center list-group-item list-group-item-danger'>
        <b><%= error %></b>
        </li>
      </ul>
    </div>
    <div class='col-md-2'></div>
    </div>
  <% end %>
</div>
