<% locals[:title] = device %>
<% interfaces = data ? data[:interfaces] : nil %>
<% devicedata = data ? data[:devicedata] : nil %>
<% if devicedata %>
  <div class='pxl-minibar-wrapper pxl-fadescroll'>
    <div class='pxl-minibar'>
      <span class='pxl-minibar-span'>IP: <b><%= devicedata[:ip] %></b></span>
      <span>Hardware:
        <span data-toggle='tooltip' data-rel='tooltip-bottom'
          title='<%= sw_tooltip(devicedata) %>' class='tooltip-lighter'>
          <u><b><%=
          devicedata[:vendor].gsub(/Force10 [\w\-]+/,'Force10') +
            ' ' << devicedata[:hw_model]
            %></b></u>
        </span>
      </span>
      <span>Uptime: <b><%= humanize_time(devicedata[:uptime])%></b></span>
      <span>Pushing:
        <span data-toggle='tooltip' data-rel='tooltip-bottom' class='tooltip-lighter'
          title='<%= number_to_human(devicedata[:pps_out], :pps) %>'>
          <u><b><%= number_to_human(devicedata[:bps_out], :bps) %></b></u>
        </span>
      </span>
    </div>
  </div>
<% end %>
<h1 class='pxl-h1-device'><%= device %></h1>
<h5 class='pxl-h5-device'>
  <% if devicedata %>
  <%= device_link_graph(settings, device, '[ graphs ]') %>&nbsp;
    <a href='#' data-toggle="modal" data-target="#deviceDetails">[ details ]</a>
<% end %>
</h5>
<% if devicedata %>
<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-grey">
      <div class="panel-heading">
        <div class="row">
          <div>
            <center>
              <span>CPU Utilization</span>
            </center>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class='pxl-rickshaw-y'></div>
        <div class='pxl-rickshaw' data-pxl-device='<%= device %>' data-pxl-attr='cpu' data-pxl-time='60m'></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-grey">
      <div class="panel-heading">
        <div class="row">
          <div>
            <center>
              <span>Memory Utilization</span>
            </center>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class='pxl-rickshaw-y'></div>
        <div class='pxl-rickshaw' data-pxl-device='<%= device %>' data-pxl-attr='memory' data-pxl-time='60m'></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class='row'>
  <% if interfaces %>
    <table id='ifTable' class='table table-hover table-condensed tablesorter'>
    <thead>
      <tr>
        <th class='pxl-hidden'>Total</th>
        <th colspan='2' class='pxl-th'>Name <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Type  <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Neighbor <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Ingress <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Egress <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
        <th class='pxl-th'>Speed <span class='glyphicon glyphicon-sort pxl-sort-icon pxl-hidden'></span></th>
      </tr>
    </thead>
    <tbody>
    <% interfaces.each do |index,oids| %>
      <tr <%= tr_attributes(oids, { hide_if_child: true, hl_relation: true }) %>>
        <td class='pxl-hidden'><%= total_bps_cell(interfaces, oids) %></td>
        <td class='pxl-td-shrink'><%= interface_link(settings, oids) %></td>
        <td><table class='pxl-linkUp pxl-linkUp-<%= link_status_color(interfaces, oids) %>'><tr>
              <td data-toggle='tooltip' data-container='body' title='<%= link_status_tooltip(interfaces, oids) %>' data-rel='tooltip-right'></td>
          </tr></table></td>
        <td class='<%= 'pxl-child-td' if oids[:is_child] %>'>
          <%= oids[:link_type] %>
          <% if oids[:is_parent] %>
            <button type='button' class='swapPlusMinus btn btn-default btn-xs' data-toggle='collapse' data-target='.<%= index %>_child'>
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          <% elsif oids[:is_child] %>
            <span class='pxl-hidden'><%= "[#{oids[:my_parent_name]}]" %></span>
          <% end %>
        </td>
        <td><%= neighbor_link(oids) %></td>
        <td class='pxl-histogram pxl-meta' data-pxl-meta='<%= oids[:bps_in_util] %>'><%= bps_cell('in', oids) %></td>
        <td class='pxl-histogram pxl-meta' data-pxl-meta='<%= oids[:bps_out_util] %>'><%= bps_cell('out', oids) %></td>
        <td><%= speed_cell(oids) %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else # This means we don't have any interfaces, or the device doesn't exist %>
    <% error = data ? 'Device found, but no interfaces are being recorded.' : 'Device not found.' %>
    <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <ul class='list-group'>
        <li class='center list-group-item list-group-item-danger'>
        <b><%= error %></b>
        </li>
      </ul>
    </div>
    <div class='col-md-2'></div>
    </div>
  <% end %>
</div>

<!-- MODAL -->
<% if devicedata %>
<div class="modal fade" id="deviceDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= device %> raw details</h4>
      </div>
      <div class="modal-body">
        <table class='table table-condensed table-hover'>
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Value</th>
            </tr>
          </thead>
            <% devicedata.each do |oid,value| %>
            <tr>
            <td><%= oid %></td>
            <td class='pxl-break-word'><%= devicedata_to_human(oid, value, { :add => true }) %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- END MODAL -->
