<%
#
# Pixel is an open source network monitoring system
# Copyright (C) 2016 all Pixel contributors!
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>
<% locals[:title] = device_name %>

<% if device.class == Device %>
  <div class='pxl-minibar-wrapper pxl-fadescroll'>
    <div class='pxl-minibar'>
      <span class='pxl-minibar-span'>IP: <b><%= device.poll_ip %></b></span>
      <span>Hardware:
        <span data-toggle='tooltip' data-rel='tooltip-bottom'
          title='<%= sw_tooltip(device) %>' class='tooltip-lighter'>
          <u><b><%=
          device.vendor.gsub(/Force10 [\w\-]+/,'Force10') +
            ' ' << device.hw_model
            %></b></u>
        </span>
      </span>
      <span>Uptime: <b><%= humanize_time(device.uptime)%></b></span>
      <span>Pushing:
        <span data-toggle='tooltip' data-rel='tooltip-bottom' class='tooltip-lighter'
          title='<%= number_to_human(pps_out, units: :pps) %>'>
          <u><b><%= number_to_human(bps_out, units: :bps) %></b></u>
        </span>
      </span>
    </div>
  </div>
<% end %>

<h1 class='pxl-h1-device'><%= device_name %></h1>
<% if device.class == Device %>
  <h5 class='pxl-h5-device'>
    <%= device_link_graph(settings, device.name, '[ graphs ]') %>&nbsp;
    <a href='#' data-toggle="modal" data-target="#deviceDetails">[ details ]</a>&nbsp;
    <a href='#' data-toggle="modal" data-target="#deviceHardware">[ hardware ]</a>
  </h5>
  <div class='row'>
    <div class='col-md-6'>
      <div class="panel panel-grey">
        <div class="panel-heading">
          <div class="row">
            <div>
              <center>
                <span>CPU Utilization</span>
              </center>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class='pxl-rickshaw-y'></div>
          <div class='pxl-rickshaw' data-pxl-device='<%= device.name %>' data-pxl-attr='cpu' data-pxl-time='60m'></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="panel panel-grey">
        <div class="panel-heading">
          <div class="row">
            <div>
              <center>
                <span>Memory Utilization</span>
              </center>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class='pxl-rickshaw-y'></div>
          <div class='pxl-rickshaw' data-pxl-device='<%= device.name %>' data-pxl-attr='memory' data-pxl-time='60m'></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if device.class != Device || device.sw_descr.empty? %>
<div class='row'>
    <% error = device.class == Device ? 'Device found, but no data recorded.' : 'Device not found.' %>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <br \>
      <ul class='list-group'>
        <li class='center list-group-item list-group-item-danger'>
        <b><%= error %></b>
        </li>
      </ul>
    </div>
    <div class='col-md-2'></div>
</div>
<% else # This means we don't have any interfaces, or the device doesn't exist %>
<div class='pxl-dynamic-content'>

  <table
    id='interfaces'
    class='table ajax_table table-hover table-condensed d3-tablesorter'
    data-api-url="/ajax/interfaces"
    data-api-refresh='60'
    data-api-autostart='true'
    data-api-params="limit=10000,device=<%= device.name %>"
    data-api-columns="td_bps_hidden:_hidden_:1,td_int_link:Name :2,td_link_status::0,td_link_type:Type :1,td_neighbor:Neighbor :1,td_bps_in:Ingress :1,td_bps_out:Egress :1,td_speed:Speed :1"
    data-api-key="id">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
<% end %>

<% if device.class == Device %>
<!--88888888888888888-->
<!--  DETAILS MODAL  -->
<!--88888888888888888-->
<div class="modal fade" id="deviceDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= device_name %> raw details</h4>
      </div>
      <div class="modal-body">
        <table class='table table-condensed table-hover'>
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Value</th>
            </tr>
          </thead>
            <% JSON.parse(device.to_json)['data'].each do |oid,value| %>
              <% next if %w( interfaces cpus fans memory psus temps ).include? oid %>
            <tr>
            <td><%= oid %></td>
            <td class='pxl-break-word'><%= devicedata_to_human(oid, value, { :add => true }) %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<!--888888888888888888888-->
<!--  END DETAILS MODAL  -->
<!--888888888888888888888-->

<!--88888888888888888-->
<!--  HARDWARE MODAL  -->
<!--88888888888888888-->
<% if device.class == Device %>
<div class="modal fade" id="deviceHardware" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= device_name %> hardware details</h4>
      </div>
      <div class="modal-body">
        <div class='pxl-margin-left-right'>
        <!-- Fans -->
        <% if device.fans.size > 0 %>
        <table class='table table-condensed table-hover' id='pxl-hw-table'>
          <caption><h4 class='pxl-h4-hw'>Fans</h4></caption>
          <thead>
            <tr>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <% device.fans.each do |index, fan| %>
            <tr>
              <td><%= fan.description %></td>
              <td><%= fan.status_text %></td>
            </tr>
          <% end %>
        </table>
        <% end %>
        <!-- End Fans -->
        <!-- PSUs -->
        <% if device.psus.size > 0 %>
        <table class='table table-condensed table-hover' id='pxl-hw-table'>
          <caption><h4 class='pxl-h4-hw'>PSUs</h4></caption>
          <thead>
            <tr>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <% device.psus.each do |index, psu| %>
            <tr>
              <td><%= psu.description %></td>
              <td><%= psu.status_text %></td>
            </tr>
          <% end %>
        </table>
        <% end %>
        <!-- End PSUs -->
        <!-- Temperatures -->
        <% if device.temps.size > 0 %>
        <table class='table table-condensed table-hover' id='pxl-hw-table'>
          <caption><h4 class='pxl-h4-hw'>Temperatures</h4></caption>
          <thead>
            <tr>
              <th>Description</th>
              <th>Temperature</th>
              <th>Status</th>
            </tr>
          </thead>
          <% device.temps.each do |index, temp| %>
            <tr>
              <td><%= temp.description %></td>
              <td><%= temp.temp %></td>
              <td><%= temp.status_text %></td>
            </tr>
          <% end %>
        </table>
        <% end %>
        <!-- End Temperatures -->
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<!--888888888888888888888-->
<!--  END HARDWARE MODAL  -->
<!--888888888888888888888-->
